article {
  margin: 0.5em;
  padding: 1em 0.5em;
  border-radius: 0.5em;
}

.post__invalid,
.post__invalid .user--name {
  color: var(--greyer);
}

.post {
  display: flex;
}

.user--image {
  height: 2em;
  border-radius: 50%;
}

.post--content {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  margin: 0 1em;
}

.post--header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.user--name {
  font-weight: 600;
  margin-bottom: 1em;
  color: var(--darker);
}
.post--date {
  font-size: 1em;
  font-style: italic;
  color: var(--greyer);
}

.line {
  border-top: solid 0.05em var(--grey);
  margin: 0 2em;
}
