.new-post {
	padding: 0.5em 1em;
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: white;
	width: 80%;
	border: solid 0.05em var(--blue-dark);
	border-radius: 0.5em 0 0 0;
	transition: all 0.5s ease-out;
}

.new-post__header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 2em 0.5em;
	cursor: pointer;
}

/* this could be better... */
.new-post--closed {
	bottom: -15em;
}

.new-post--closed:hover {
	bottom: -12em;
}

.new-post textarea {
	width: 100%;
	border: solid 0.05em var(--grey);
	border-radius: 0.5em;
	padding: 1em;
	font: var(--font);
	color: var(--greyer);
}
.new-post textarea:hover {
	border: solid 0.05em var(--greyer);
	color: var(--dark);
}
