@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--font: "Inter", sans-serif;
	--light: #eee;
	--grey: #dbdbdb;
	--greyer: #a9abba;
	--dark: #222222;
	--darker: #121640;
	--blue: #0092db;
	--blue-dark: #027bb8;
	--yellow: #dbdb01;
	--yellow-dark: #c0c003;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

body {
	font-family: var(--font);
	color: var(--dark);
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
}

.sticky {
	position: fixed;
	z-index: 1;
	height: 8em;
	width: 100%;
	background-color: white;
	padding-top: 1em;
	padding-left: 1em;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.posts__container {
	flex-grow: 1;
	padding: 1em;
	margin-top: 8em;
}

.actions {
	padding: 1em 0;
}

/* Global buttons style */
.button {
	background: var(--blue);
	color: var(--light);
	padding: 0.5em 2em;
	border-radius: 0.5em;
	border: none;
	margin: 0 0.2em 0 0;
	cursor: pointer;
}

.button--active,
.button:hover {
	background: var(--blue-dark);
}

.button--light {
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: var(--greyer);
}

.button--light:hover {
	color: var(--dark);
}

.button--clean {
	background-color: transparent;
	border: none;
	padding: 1em 2em;
	cursor: pointer;
	text-decoration: underline;
}

.button--clean:hover {
	color: var(--blue);
}

.scroll-footer {
	width: 100%;
	padding-bottom: 10em;
	text-align: center;
}
